spring:
  jpa:
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.palmonas.crm: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
